@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="img/IMG_0403-scaled.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Caleb Dada Ministries</h1>
                    <p>
                        Taking the presence of Jesus to the Nations
                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom" href="">Sermons</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="img/IMG_0376-scaled.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Caleb Dada Ministries</h1>
                    <p>
                        Taking the presence of Jesus to the Nations
                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom" href="">Sermons</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="img/IMG_0276-scaled.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Caleb Dada Ministries</h1>
                    <p>
                        Taking the presence of Jesus to the Nations
                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom" href="">Sermons</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="img/IMG_0162-scaled.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Caleb Dada Ministries</h1>
                    <p>
                        Taking the presence of Jesus to the Nations
                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom" href="">Sermons</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src ="img/IMG_0078-scaled.jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>Connecting Believers To Jesus And One Another</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae pellentesque turpis. Donec in hendrerit dui, vel blandit massa. Ut vestibulum suscipit cursus. Cras quis porta nulla, ut placerat risus. Aliquam nec magna eget velit luctus dictum. Phasellus et felis sed purus tristique dignissim. Morbi sit amet leo at purus accumsan pellentesque. Vivamus fermentum nisi vel dapibus blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Sed tincidunt, magna ut vehicula volutpat, turpis diam condimentum justo, posuere congue turpis massa in mi. Proin ornare at massa at fermentum. Nunc aliquet sed nisi iaculis ornare. Nam semper tortor eget est egestas, eu sagittis nunc sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent bibendum sapien sed purus molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            Aliquam dolor odio, mollis sed feugiat sit amet, feugiat ut sapien. Nunc eu dignissim lorem. Suspendisse at hendrerit enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed condimentum semper turpis vel facilisis. Nunc vel faucibus orci. Mauris ut mauris rhoncus, efficitur nisi at, venenatis quam. Praesent egestas pretium enim sit amet finibus. Curabitur at erat molestie, tincidunt lorem eget, consequat ligula.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>What We Do?</p>
            <h2>Engaging Gods Word Through Faith</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-kindness"></i>
                    </div>
                    <div class="service-text">
                        <h3>Become A Partner</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-social-care"></i>
                    </div>
                    <div class="service-text">
                        <h3>Be a Volunteer</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-donation"></i>
                    </div>
                    <div class="service-text">
                        <h3>Sponsor A Project</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/IMG_0215-scaled.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-education"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">1245</h3>
                        <p>Hours Of Messages</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-social-care"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">84000</h3>
                        <p>Meetings</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">10000</h3>
                        <p>Souls Saved</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class ="facts-plus" data-toggle="counter-up">5000</h3>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Causes Start -->
<div class="causes">
    <div class="container">
        <div class="section-header text-center">
            <p>Popular Causes</p>
            <h2>Join Our Mission To Improve The Future For All</h2>
        </div>
        <div class="owl-carousel causes-carousel">
            <div class="causes-item">
                <div class="causes-img">
                    <img src="img/IMG_0211-1536x1024.jpg" alt="Image">
                </div>
                <div class="causes-text">
                    <h3>Join Our Mission </h3>
                    <p>Lorem ipsum dolor sit amet elit. Phasell nec pretium mi. Curabit facilis ornare velit non vulputa</p>
                </div>
                <div class="causes-btn">
                    <a class="btn btn-custom">Join Us</a>
                </div>
            </div>
            <div class="causes-item">
                <div class="causes-img">
                    <img src="img/IMG_0350-scaled.jpg" alt="Image">
                </div>
                
                <div class="causes-text">
                    <h3>Connecting People</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phasell nec pretium mi. Curabit facilis ornare velit non vulputa</p>
                </div>
                <div class="causes-btn">
                    <a class="btn btn-custom">Our Meetings</a>
                </div>
            </div>
            <div class="causes-item">
                <div class="causes-img">
                    <img src="img/IMG_0347-scaled.jpg" alt="Image">
                </div>
                <div class="causes-text">
                    <h3>A Place For Everyone</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phasell nec pretium mi. Curabit facilis ornare velit non vulputa</p>
                </div>
                <div class="causes-btn">
                    <a class="btn btn-custom">Read More</a>
                </div>
            </div>
            <div class="causes-item">
                <div class="causes-img">
                    <img src="img/270515586_454025036312093_7518480797830586625_n.jpg" alt="Image">
                </div>
                <div class="causes-text">
                    <h3>Small Effort Make Big Change</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phasell nec pretium mi. Curabit facilis ornare velit non vulputa</p>
                </div>
                <div class="causes-btn">
                    <a class="btn btn-custom">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Causes End -->

<!-- Donate Start -->
<div class="donate" data-parallax="scroll" data-image-src="img/priscilla-du-preez-172593-unsplash.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="donate-content">
                    <div class="section-header">
                        <p>Donate Now</p>
                        <h2>No One Has Ever Become Poor By Giving</h2>
                    </div>
                    <div class="donate-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="donate-form">
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-custom active">
                                <input type="radio" name="options" checked> ₦1000
                            </label>
                            <label class="btn btn-custom">
                                <input type="radio" name="options"> ₦20,000
                            </label>
                            <label class="btn btn-custom">
                                <input type="radio" name="options"> ₦100,000
                            </label>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Donate Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Donate End -->

<!-- Event Start -->
<div class="event">
    <div class="container">
        <div class="section-header text-center">
            <p>Upcoming Events</p>
            <h2>Be ready for our upcoming Meetings</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="img/Concerning Spirituals.jpeg" alt="Image">
                    <div class="event-content">
                        <div class="event-meta">
                            <p><i class="fa fa-calendar-alt"></i>13-Feb-22</p>
                            <p><i class="far fa-clock"></i>7:30 - 09:00</p>
                            <p><i class="fa fa-map-marker-alt"></i>Online</p>
                        </div>
                        <div class="event-text">
                            <h3>City Wide Teaching</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                            </p>
                            <a class="btn btn-custom" href="">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="img/Sunday Teaching.jpeg" alt="Image">
                    <div class="event-content">
                        <div class="event-meta">
                            <p><i class="fa fa-calendar-alt"></i>13-Feb-22</p>
                            <p><i class="far fa-clock"></i>7:30 - 09:00</p>
                            <p><i class="fa fa-map-marker-alt"></i>Online</p>
                        </div>
                        <div class="event-text">
                            <h3>Sunday Meetings</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                            </p>
                            <a class="btn btn-custom" href="">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event End -->

<!-- Volunteer Start -->
<div class="volunteer" data-parallax="scroll" data-image-src="img/IMG_2280.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="volunteer-form">
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <select class="form-control volunteer-select" required="required" asp-items="Html.GetEnumSelectList<Teams>()">
                                <option selected="" disabled="">
                                    Select A Team
                                </option>

                            </select>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Why you want to become a volunteer?" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Become a volunteer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="volunteer-content">
                    <div class="section-header">
                        <p>Become A Volunteer</p>
                        <h2>Let’s make a difference in the lives of others</h2>
                    </div>
                    <div class="volunteer-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Volunteer End -->


<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Get In Touch</p>
            <h2>Contact for any query</h2>
        </div>
        <div class="contact-img">
            <img src="img/IMG_2092.jpg" alt="Image">
        </div>
        <div class="contact-form">
            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
                <div class="control-group">
                    <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div>
                    <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Contact End -->

